<header>
    <div class="wrapper_header">
        <div class="logo">
            <a href="../"><img src="picture/logo.png"></a>
        </div>
        <nav class="menu">
            <ul class="menu_list">
                <li><a href="../login">Войти</a></li>
                <li><a href="../logout">Выйти</a></li>
                <li><a href="../profileedit">Кабинет</a></li>
            </ul>
        </nav>
    </div>
</header>