<div class="social_menu">
    <ul class="social_list">
        <li><a href="https://vk.com/polotsk_university" class="vk_link"><img src="picture/social/vk-black.png"></a></li>
        <li><a href="https://www.facebook.com/wwwpsuby" class="vk_link"><img src="picture/social/fb-black.png"></a></li>
        <li><a href="https://www.youtube.com/user/psutvby" class="vk_link"><img src="picture/social/youtube-black.png"></a></li>
        <li><a href="https://www.instagram.com/psu.by/" class="vk_link"><img src="picture/social/inst-black.png"></a></li>
        <li><a href="https://t.me/psu_by" class="vk_link"><img src="picture/social/telegram-black.png"></a></li>
    </ul>
</div>