<!DOCTYPE html>
<html>
<head>
    <title>Выпускники НПИ-ПГУ</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
{{> header}}

{{{body}}}

{{> social}}

{{> footer}}
</body>
<html>