<div class="content_admin_page">
    <form action="/administrator" method="post" enctype="multipart/form-data">
        <div class="add_graduate">
            <label>Добавить выпускников</label>
            <input type="file" name="filedata" class="graduate_data">
            <input type="submit" value="записать">
        </div>
    </form>
</div>