<!DOCTYPE html>
<html>
<head>
    <title>Выпускники НПИ-ПГУ</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <p class="header_name">Полоцкий государственный университет</p>
</header>
<h1 class="main_page_h1">ВЫПУСКНИКИ НПИ-ПГУ</h1>
<div class="content_main_page">
    <h4>Для просмотра профиля выпускника пройдите <a href="login">авторизацию</a></h4>
</div>
<footer>
    <p>PSU - Copyright @ 2020</p>
</footer>
</body>
<html>