<div class="content_main_page_login">
    <form method="POST" action="/login">
        <div class="login_field">
            <label>Фамилия</label>
            <input type="text" name="lastname">
            <label>Номер диплома</label>
            <input type="text" name="diploma">
            <input type="submit" value="Войти">
        </div>
    </form>
</div>
