<div class="content_main_page_login">
    <form method="POST" action="/login">
        <div class="login_field">
            <label>Серия диплома</label>
            <input type="text" name="diploma_seria" required>
            <label>Номер диплома</label>
            <input type="text" name="diploma_number" required>
            <input type="submit" value="Войти">
        </div>
    </form>
</div>
