<!DOCTYPE html>
<html>
<head>
    <title>Выпускники НПИ-ПГУ</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <p class="header_name">Полоцкий государственный университет</p>
</header>
<h1 class="main_page_h1">ВЫПУСКНИКИ НПИ-ПГУ</h1>
<div class="content_main_page">

        <form action="/profileedit" method="post">
            <input type="text" class="career" name="career" placeholder="Карьера">
            <input type="text" class="review" name="review" placeholder="Отзыв">
            <input type="text" class="number" name="number" placeholder="Номер телефона">
            <input type="submit" value="записать">
        </form>
</div>
<footer>
    <p>PSU - Copyright @ 2020</p>
</footer>
</body>
<html>